body {
  background: #444;
  font-family: arial,helvetica,sans-serif;
  margin: 0;
  padding: 0;
}

body > div {
    width: 760px;
    margin: 0 auto;
    overflow: hidden;
}

#header {
    height: 50px;
    color: #fff;
    padding: 5px 10px;
}

#header .jpoker_logo {
    background: #e8ecd1 url(images/logo.png) no-repeat left top;
    width: 145px;
    height: 50px;
}

#menu_header {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    background-color: #81ac00;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    height: 27px;
}

#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu > ul > li {
    display: block;
    float: left;
}

#menu > ul > li > .jpoker_label {
    width: 7em;
    height: 20px;
    border-right: 1px solid white;
    padding: 5px 5px 2px 10px;
}

#menu > ul > li > ul > li {
    border-right: 1px solid white;
    padding: 0px 0px 0px 20px;
}

#menu li {
    background-color: #81ac00;
}

#menu li:hover {
    background-color: #567300;
}

#menu > ul > li > ul {
    display: none;
}

#menu > ul > li:hover > ul {
    display: block;
}

#menu a {
    text-decoration: none;
    color: #fff;
}

#menu_header #login {
    float: right;
}

#content {
    height: 100px;
}

#footer {
    background: #e8ecd1 url(images/footer.png) repeat-x left top;
    height: 220px;
    color: #000;
    font-size: 11px;
}

ul#footer {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul#footer > li {
    display: block;
    float: left;
    width: 33%;
}

ul#footer > li > * {
    padding: 0px 10px;
}

#footer dt {
    font-weight: bold;
    padding-top: 5px;
}

#footer dd {
    margin-left: 10px;
}

#footer a {
    color: #FFF;
    text-decoration: none;
}

#footer #i18n ul {
    padding: 15px;
}

#footer #i18n ul {
    list-style: none;
}

#footer #i18n ul > li {
    display: block;
    float: left;
    width: 50%;
}

