.jpoker_table .jpoker_ptable {
  width: 760px;
  height: 530px;
  position: relative;
  overflow: hidden;
}

.jpoker_table .jpoker_ptable_game_background {
  width: 760px;
  height: 530px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #3d1900 url(images/jpoker_table/main-bg.jpg) left top;
}

.jpoker_table .jpoker_ptable_table { width:482px; height:228px; position:absolute; top:91px; left:140px; background-repeat: no-repeat; background-image:url("images/jpoker_table/table.png");}
.jpoker_table .jpoker_ptable_board0 { width:37px; height:45px; position:absolute; top:159px; left:281px; }
.jpoker_table .jpoker_ptable_board1 { width:37px; height:45px; position:absolute; top:159px; left:323px; }
.jpoker_table .jpoker_ptable_board2 { width:37px; height:45px; position:absolute; top:159px; left:364px; }
.jpoker_table .jpoker_ptable_board3 { width:37px; height:45px; position:absolute; top:159px; left:405px; }
.jpoker_table .jpoker_ptable_board4 { width:37px; height:45px; position:absolute; top:159px; left:446px; }
.jpoker_table .jpoker_ptable_winner0 { width:180px; height:25px; position:absolute; top:134px; left:291px; }
.jpoker_table .jpoker_ptable_winner1 { width:180px; height:25px; position:absolute; top:209px; left:304px; }

.jpoker_table .jpoker_ptable_quit {
  position: absolute;
  top: 4px;
  right: 5px;
}

.jpoker_table .jpoker_ptable_rebuy { width:67px; height:20px; position:absolute; top:4px; left:614px; border: 1px solid #bdcc8f; background-color: #567300;}

.jpoker_table .jpoker_ptable_auto_action {
  width: 194px;
  height: 119px;
  position: absolute;
  top: 408px;
  left: 270px;
  color: #FFF;
}

.jpoker_table .jpoker_ptable_check { width:44px; height:30px; position:absolute; top:408px; left:289px; background-image:url("images/jpoker_table/check.png");}
.jpoker_table .jpoker_ptable_call { width:44px; height:30px; position:absolute; top:408px; left:337px; background-image:url("images/jpoker_table/call.png");}
.jpoker_table .jpoker_ptable_fold { width:44px; height:30px; position:absolute; top:408px; left:386px; background-image:url("images/jpoker_table/fold.png");}
.jpoker_table .jpoker_ptable_raise { width:44px; height:30px; position:absolute; top:442px; left:289px; background-image:url("images/jpoker_table/raise.png");}
.jpoker_table .jpoker_ptable_raise_range { width:94px; height:50px; position:absolute; top:477px; left:338px; background-image:url("images/jpoker_table/raise_slider_dock.png");}
.jpoker_table .jpoker_ptable_sit_seat0 { width:70px; height:71px; position:absolute; top:68px; left:88px; background-image:url("images/jpoker_table/seat-sit.png");}
.jpoker_table .jpoker_ptable_sit_seat1 { width:70px; height:71px; position:absolute; top:34px; left:202px; background-image:url("images/jpoker_table/seat-sit.png");}
.jpoker_table .jpoker_ptable_sit_seat2 { width:70px; height:71px; position:absolute; top:18px; left:347px; background-image:url("images/jpoker_table/seat-sit.png");}
.jpoker_table .jpoker_ptable_sit_seat3 { width:70px; height:71px; position:absolute; top:34px; left:500px; background-image:url("images/jpoker_table/seat-sit.png");}
.jpoker_table .jpoker_ptable_sit_seat4 { width:70px; height:71px; position:absolute; top:71px; left:605px; background-image:url("images/jpoker_table/seat-sit.png");}
.jpoker_table .jpoker_ptable_sit_seat5 { width:70px; height:71px; position:absolute; top:255px; left:605px; background-image:url("images/jpoker_table/seat-sit.png");}
.jpoker_table .jpoker_ptable_sit_seat6 { width:70px; height:71px; position:absolute; top:284px; left:500px; background-image:url("images/jpoker_table/seat-sit.png");}
.jpoker_table .jpoker_ptable_sit_seat7 { width:70px; height:71px; position:absolute; top:294px; left:347px; background-image:url("images/jpoker_table/seat-sit.png");}
.jpoker_table .jpoker_ptable_sit_seat8 { width:70px; height:71px; position:absolute; top:286px; left:202px; background-image:url("images/jpoker_table/seat-sit.png");}
.jpoker_table .jpoker_ptable_sit_seat9 { width:70px; height:71px; position:absolute; top:255px; left:88px; background-image:url("images/jpoker_table/seat-sit.png");}
.jpoker_table .jpoker_ptable_player_seat0_background { width:70px; height:87px; position:absolute; top:68px; left:88px; background-color: #567300;}
.jpoker_table .jpoker_ptable_player_seat0_name { width:63.912312px; height:10px; position:absolute; top:70px; left:90px; }
.jpoker_table .jpoker_ptable_player_seat0_avatar { width:63px; height:43px; position:absolute; top:92px; left:91px; background-image:url("images/jpoker_table/avatar.gif");}
.jpoker_table .jpoker_ptable_player_seat0_timeout { width:59.443508px; height:3.8063638px; position:absolute; top:85px; left:94px; background: #444;}
.jpoker_table .jpoker_ptable_player_seat0_money { width:57.87521px; height:10px; position:absolute; top:139px; left:93px; }
.jpoker_table .jpoker_ptable_player_seat0_action { width:40px; height:10px; position:absolute; top:157px; left:99px; }
.jpoker_table .jpoker_ptable_player_seat0_stats { width:23.693085px; height:23.406408px; position:absolute; top:74px; left:155px; }
.jpoker_table .jpoker_ptable_player_seat0_sidepot { width:34.59359px; height:38.168633px; position:absolute; top:160px; left:155px; }
.jpoker_table .jpoker_ptable_player_seat0_bet { width:24px; height:24px; position:absolute; top:160px; left:154px; background-image:url("images/jpoker_table/bet.png");}
.jpoker_table .jpoker_ptable_dealer0 { width:25px; height:26px; position:absolute; top:135px; left:148px; background-image:url("images/jpoker_table/dealer.png");}
.jpoker_table .jpoker_ptable_card_seat00 { width:37px; height:45px; position:absolute; top:91px; left:85px; }
.jpoker_table .jpoker_ptable_card_seat01 { width:37px; height:45px; position:absolute; top:91px; left:121px; }
.jpoker_table .jpoker_ptable_card_seat02 { width:37px; height:45px; position:absolute; top:91px; left:50px; }
.jpoker_table .jpoker_ptable_card_seat03 { width:37px; height:45px; position:absolute; top:91px; left:145px; }
.jpoker_table .jpoker_ptable_player_seat0_hole { width:116px; height:122px; position:absolute; top:120px; left:76px; background-image:url("images/jpoker_table/card-back2.gif");}
.jpoker_table .jpoker_ptable_player_seat1_background { width:70px; height:87px; position:absolute; top:34px; left:202px; background-color: #567300;}
.jpoker_table .jpoker_ptable_player_seat1_name { width:63.912312px; height:10px; position:absolute; top:36px; left:204px; }
.jpoker_table .jpoker_ptable_player_seat1_avatar { width:63px; height:43px; position:absolute; top:58px; left:205px; background-image:url("images/jpoker_table/avatar.gif");}
.jpoker_table .jpoker_ptable_player_seat1_timeout { width:59.443508px; height:3.8063638px; position:absolute; top:50px; left:208px; background: #000;}
.jpoker_table .jpoker_ptable_player_seat1_money { width:57.87521px; height:10px; position:absolute; top:104px; left:207px; }
.jpoker_table .jpoker_ptable_player_seat1_action { width:40px; height:10px; position:absolute; top:122px; left:213px; }
.jpoker_table .jpoker_ptable_player_seat1_stats { width:23.693085px; height:23.406408px; position:absolute; top:40px; left:270px; }
.jpoker_table .jpoker_ptable_player_seat1_sidepot { width:34.59359px; height:38.168633px; position:absolute; top:121px; left:265px; }
.jpoker_table .jpoker_ptable_player_seat1_bet { width:24px; height:24px; position:absolute; top:119px; left:265px; background-image:url("images/jpoker_table/bet.png");}
.jpoker_table .jpoker_ptable_dealer1 { width:25px; height:26px; position:absolute; top:99px; left:297px; background-image:url("images/jpoker_table/dealer.png");}
.jpoker_table .jpoker_ptable_card_seat10 { width:37px; height:45px; position:absolute; top:58px; left:200px; }
.jpoker_table .jpoker_ptable_card_seat11 { width:37px; height:45px; position:absolute; top:58px; left:235px; }
.jpoker_table .jpoker_ptable_card_seat12 { width:37px; height:45px; position:absolute; top:58px; left:165px; }
.jpoker_table .jpoker_ptable_card_seat13 { width:37px; height:45px; position:absolute; top:58px; left:270px; }
.jpoker_table .jpoker_ptable_player_seat1_hole { width:116px; height:122px; position:absolute; top:70px; left:142px; background-image:url("images/jpoker_table/card-back2.gif");}
.jpoker_table .jpoker_ptable_player_seat2_background { width:70px; height:87px; position:absolute; top:19px; left:349px; background-color: #567300;}
.jpoker_table .jpoker_ptable_player_seat2_name { width:63.912312px; height:10px; position:absolute; top:21px; left:351px; }
.jpoker_table .jpoker_ptable_player_seat2_avatar { width:63px; height:43px; position:absolute; top:43px; left:352px; background-image:url("images/jpoker_table/avatar.gif");}
.jpoker_table .jpoker_ptable_player_seat2_timeout { width:59.443508px; height:3.8063638px; position:absolute; top:35px; left:355px; background: #000;}
.jpoker_table .jpoker_ptable_player_seat2_money { width:57.87521px; height:10px; position:absolute; top:89px; left:354px; }
.jpoker_table .jpoker_ptable_player_seat2_action { width:40px; height:10px; position:absolute; top:107px; left:361px; }
.jpoker_table .jpoker_ptable_player_seat2_stats { width:23.693085px; height:23.406408px; position:absolute; top:25px; left:417px; }
.jpoker_table .jpoker_ptable_player_seat2_sidepot { width:34.59359px; height:38.168633px; position:absolute; top:106px; left:413px; }
.jpoker_table .jpoker_ptable_player_seat2_bet { width:24px; height:24px; position:absolute; top:106px; left:414px; background-image:url("images/jpoker_table/bet.png");}
.jpoker_table .jpoker_ptable_dealer2 { width:25px; height:26px; position:absolute; top:105px; left:449px; background-image:url("images/jpoker_table/dealer.png");}
.jpoker_table .jpoker_ptable_card_seat20 { width:37px; height:45px; position:absolute; top:44px; left:348px; }
.jpoker_table .jpoker_ptable_card_seat21 { width:37px; height:45px; position:absolute; top:44px; left:383px; }
.jpoker_table .jpoker_ptable_card_seat22 { width:37px; height:45px; position:absolute; top:44px; left:313px; }
.jpoker_table .jpoker_ptable_card_seat23 { width:37px; height:45px; position:absolute; top:44px; left:418px; }
.jpoker_table .jpoker_ptable_player_seat2_hole { width:116px; height:122px; position:absolute; top:51px; left:288px; background-image:url("images/jpoker_table/card-back2.gif");}
.jpoker_table .jpoker_ptable_player_seat3_background { width:70px; height:87px; position:absolute; top:33px; left:499px; background-color: #567300;}
.jpoker_table .jpoker_ptable_player_seat3_name { width:63.912312px; height:10px; position:absolute; top:35px; left:501px; }
.jpoker_table .jpoker_ptable_player_seat3_avatar { width:63px; height:43px; position:absolute; top:57px; left:502px; background-image:url("images/jpoker_table/avatar.gif");}
.jpoker_table .jpoker_ptable_player_seat3_timeout { width:59.443508px; height:3.8063638px; position:absolute; top:49px; left:505px; background: #000;}
.jpoker_table .jpoker_ptable_player_seat3_money { width:57.87521px; height:10px; position:absolute; top:103px; left:504px; }
.jpoker_table .jpoker_ptable_player_seat3_action { width:40px; height:10px; position:absolute; top:121px; left:510px; }
.jpoker_table .jpoker_ptable_player_seat3_stats { width:23.693085px; height:23.406408px; position:absolute; top:39px; left:567px; }
.jpoker_table .jpoker_ptable_player_seat3_sidepot { width:34.59359px; height:38.168633px; position:absolute; top:135px; left:550px; }
.jpoker_table .jpoker_ptable_player_seat3_bet { width:24px; height:24px; position:absolute; top:134px; left:539px; background-image:url("images/jpoker_table/bet.png");}
.jpoker_table .jpoker_ptable_dealer3 { width:25px; height:26px; position:absolute; top:135px; left:577px; background-image:url("images/jpoker_table/dealer.png");}
.jpoker_table .jpoker_ptable_card_seat30 { width:37px; height:45px; position:absolute; top:57px; left:499px; }
.jpoker_table .jpoker_ptable_card_seat31 { width:37px; height:45px; position:absolute; top:57px; left:534px; }
.jpoker_table .jpoker_ptable_card_seat32 { width:37px; height:45px; position:absolute; top:57px; left:464px; }
.jpoker_table .jpoker_ptable_card_seat33 { width:37px; height:45px; position:absolute; top:57px; left:569px; }
.jpoker_table .jpoker_ptable_player_seat3_hole { width:116px; height:122px; position:absolute; top:54px; left:429px; background-image:url("images/jpoker_table/card-back2.gif");}
.jpoker_table .jpoker_ptable_player_seat4_background { width:70px; height:87px; position:absolute; top:70px; left:608px; background-color: #567300;}
.jpoker_table .jpoker_ptable_player_seat4_name { width:63.912312px; height:10px; position:absolute; top:72px; left:610px; }
.jpoker_table .jpoker_ptable_player_seat4_avatar { width:63px; height:43px; position:absolute; top:94px; left:612px; background-image:url("images/jpoker_table/avatar.gif");}
.jpoker_table .jpoker_ptable_player_seat4_timeout { width:59.443508px; height:3.8063638px; position:absolute; top:87px; left:614px; background: #000;}
.jpoker_table .jpoker_ptable_player_seat4_money { width:57.87521px; height:10px; position:absolute; top:141px; left:613px; }
.jpoker_table .jpoker_ptable_player_seat4_action { width:40px; height:10px; position:absolute; top:159px; left:620px; }
.jpoker_table .jpoker_ptable_player_seat4_stats { width:23.693085px; height:23.406408px; position:absolute; top:76px; left:676px; }
.jpoker_table .jpoker_ptable_player_seat4_sidepot { width:34.59359px; height:38.168633px; position:absolute; top:157px; left:562px; }
.jpoker_table .jpoker_ptable_player_seat4_bet { width:24px; height:24px; position:absolute; top:156px; left:572px; background-image:url("images/jpoker_table/bet.png");}
.jpoker_table .jpoker_ptable_dealer4 { width:25px; height:26px; position:absolute; top:193px; left:590px; background-image:url("images/jpoker_table/dealer.png");}
.jpoker_table .jpoker_ptable_card_seat40 { width:37px; height:45px; position:absolute; top:93px; left:607px; }
.jpoker_table .jpoker_ptable_card_seat41 { width:37px; height:45px; position:absolute; top:93px; left:642px; }
.jpoker_table .jpoker_ptable_card_seat42 { width:37px; height:45px; position:absolute; top:93px; left:572px; }
.jpoker_table .jpoker_ptable_card_seat43 { width:37px; height:45px; position:absolute; top:93px; left:677px; }
.jpoker_table .jpoker_ptable_player_seat4_hole { width:116px; height:122px; position:absolute; top:118px; left:553px; background-image:url("images/jpoker_table/card-back2.gif");}
.jpoker_table .jpoker_ptable_player_seat5_background { width:70px; height:87px; position:absolute; top:256px; left:604px; background-color: #567300;}
.jpoker_table .jpoker_ptable_player_seat5_name { width:63.912312px; height:10px; position:absolute; top:258px; left:606px; }
.jpoker_table .jpoker_ptable_player_seat5_avatar { width:63px; height:43px; position:absolute; top:280px; left:607px; background-image:url("images/jpoker_table/avatar.gif");}
.jpoker_table .jpoker_ptable_player_seat5_timeout { width:59.443508px; height:3.8063638px; position:absolute; top:272px; left:610px; background: #000;}
.jpoker_table .jpoker_ptable_player_seat5_money { width:57.87521px; height:10px; position:absolute; top:326px; left:609px; }
.jpoker_table .jpoker_ptable_player_seat5_action { width:40px; height:10px; position:absolute; top:344px; left:615px; }
.jpoker_table .jpoker_ptable_player_seat5_stats { width:23.693085px; height:23.406408px; position:absolute; top:262px; left:671px; }
.jpoker_table .jpoker_ptable_player_seat5_sidepot { width:34.59359px; height:38.168633px; position:absolute; top:198px; left:564px; }
.jpoker_table .jpoker_ptable_player_seat5_bet { width:24px; height:24px; position:absolute; top:213px; left:574px; background-image:url("images/jpoker_table/bet.png");}
.jpoker_table .jpoker_ptable_dealer5 { width:25px; height:26px; position:absolute; top:238px; left:558px; background-image:url("images/jpoker_table/dealer.png");}
.jpoker_table .jpoker_ptable_card_seat50 { width:37px; height:45px; position:absolute; top:279px; left:603px; }
.jpoker_table .jpoker_ptable_card_seat51 { width:37px; height:45px; position:absolute; top:279px; left:638px; }
.jpoker_table .jpoker_ptable_card_seat52 { width:37px; height:45px; position:absolute; top:279px; left:568px; }
.jpoker_table .jpoker_ptable_card_seat53 { width:37px; height:45px; position:absolute; top:279px; left:673px; }
.jpoker_table .jpoker_ptable_player_seat5_hole { width:116px; height:122px; position:absolute; top:166px; left:556px; background-image:url("images/jpoker_table/card-back2.gif");}
.jpoker_table .jpoker_ptable_player_seat6_background { width:70px; height:87px; position:absolute; top:285px; left:497px; background-color: #567300;}
.jpoker_table .jpoker_ptable_player_seat6_name { width:63.912312px; height:10px; position:absolute; top:287px; left:499px; }
.jpoker_table .jpoker_ptable_player_seat6_avatar { width:63px; height:43px; position:absolute; top:309px; left:500px; background-image:url("images/jpoker_table/avatar.gif");}
.jpoker_table .jpoker_ptable_player_seat6_timeout { width:59.443508px; height:3.8063638px; position:absolute; top:300px; left:503px; background: #000;}
.jpoker_table .jpoker_ptable_player_seat6_money { width:57.87521px; height:10px; position:absolute; top:355px; left:502px; }
.jpoker_table .jpoker_ptable_player_seat6_action { width:40px; height:10px; position:absolute; top:373px; left:508px; }
.jpoker_table .jpoker_ptable_player_seat6_stats { width:23.693085px; height:23.406408px; position:absolute; top:291px; left:565px; }
.jpoker_table .jpoker_ptable_player_seat6_sidepot { width:34.59359px; height:38.168633px; position:absolute; top:245px; left:497px; }
.jpoker_table .jpoker_ptable_player_seat6_bet { width:24px; height:24px; position:absolute; top:245px; left:497px; background-image:url("images/jpoker_table/bet.png");}
.jpoker_table .jpoker_ptable_dealer6 { width:25px; height:26px; position:absolute; top:258px; left:469px; background-image:url("images/jpoker_table/dealer.png");}
.jpoker_table .jpoker_ptable_card_seat60 { width:37px; height:45px; position:absolute; top:308px; left:494px; }
.jpoker_table .jpoker_ptable_card_seat61 { width:37px; height:45px; position:absolute; top:308px; left:529px; }
.jpoker_table .jpoker_ptable_card_seat62 { width:37px; height:45px; position:absolute; top:308px; left:458px; }
.jpoker_table .jpoker_ptable_card_seat63 { width:37px; height:45px; position:absolute; top:308px; left:564px; }
.jpoker_table .jpoker_ptable_player_seat6_hole { width:116px; height:122px; position:absolute; top:205px; left:488px; background-image:url("images/jpoker_table/card-back2.gif");}
.jpoker_table .jpoker_ptable_player_seat7_background { width:70px; height:87px; position:absolute; top:295px; left:345px; background-color: #567300;}
.jpoker_table .jpoker_ptable_player_seat7_name { width:63.912312px; height:10px; position:absolute; top:297px; left:347px; }
.jpoker_table .jpoker_ptable_player_seat7_avatar { width:63px; height:43px; position:absolute; top:319px; left:348px; background-image:url("images/jpoker_table/avatar.gif");}
.jpoker_table .jpoker_ptable_player_seat7_timeout { width:59.443508px; height:3.8063638px; position:absolute; top:311px; left:351px; background: #000;}
.jpoker_table .jpoker_ptable_player_seat7_money { width:57.87521px; height:10px; position:absolute; top:365px; left:350px; }
.jpoker_table .jpoker_ptable_player_seat7_action { width:40px; height:10px; position:absolute; top:383px; left:356px; }
.jpoker_table .jpoker_ptable_player_seat7_stats { width:23.693085px; height:23.406408px; position:absolute; top:301px; left:412px; }
.jpoker_table .jpoker_ptable_player_seat7_sidepot { width:34.59359px; height:38.168633px; position:absolute; top:254px; left:351px; }
.jpoker_table .jpoker_ptable_player_seat7_bet { width:24px; height:24px; position:absolute; top:253px; left:352px; background-image:url("images/jpoker_table/bet.png");}
.jpoker_table .jpoker_ptable_dealer7 { width:25px; height:26px; position:absolute; top:264px; left:321px; background-image:url("images/jpoker_table/dealer.png");}
.jpoker_table .jpoker_ptable_card_seat70 { width:37px; height:45px; position:absolute; top:318px; left:344px; }
.jpoker_table .jpoker_ptable_card_seat71 { width:37px; height:45px; position:absolute; top:318px; left:379px; }
.jpoker_table .jpoker_ptable_card_seat72 { width:37px; height:45px; position:absolute; top:318px; left:309px; }
.jpoker_table .jpoker_ptable_card_seat73 { width:37px; height:45px; position:absolute; top:318px; left:414px; }
.jpoker_table .jpoker_ptable_player_seat7_hole { width:116px; height:122px; position:absolute; top:215px; left:344px; background-image:url("images/jpoker_table/card-back2.gif");}
.jpoker_table .jpoker_ptable_player_seat8_background { width:70px; height:87px; position:absolute; top:286px; left:202px; background-color: #567300;}
.jpoker_table .jpoker_ptable_player_seat8_name { width:63.912312px; height:10px; position:absolute; top:288px; left:204px; }
.jpoker_table .jpoker_ptable_player_seat8_avatar { width:63px; height:43px; position:absolute; top:310px; left:205px; background-image:url("images/jpoker_table/avatar.gif");}
.jpoker_table .jpoker_ptable_player_seat8_timeout { width:59.443508px; height:3.8063638px; position:absolute; top:302px; left:208px; background: #000;}
.jpoker_table .jpoker_ptable_player_seat8_money { width:57.87521px; height:10px; position:absolute; top:356px; left:207px; }
.jpoker_table .jpoker_ptable_player_seat8_action { width:40px; height:10px; position:absolute; top:374px; left:213px; }
.jpoker_table .jpoker_ptable_player_seat8_stats { width:23.693085px; height:23.406408px; position:absolute; top:292px; left:270px; }
.jpoker_table .jpoker_ptable_player_seat8_sidepot { width:34.59359px; height:38.168633px; position:absolute; top:246px; left:207px; }
.jpoker_table .jpoker_ptable_player_seat8_bet { width:24px; height:24px; position:absolute; top:246px; left:205px; background-image:url("images/jpoker_table/bet.png");}
.jpoker_table .jpoker_ptable_dealer8 { width:25px; height:26px; position:absolute; top:249px; left:176px; background-image:url("images/jpoker_table/dealer.png");}
.jpoker_table .jpoker_ptable_card_seat80 { width:37px; height:45px; position:absolute; top:309px; left:200px; }
.jpoker_table .jpoker_ptable_card_seat81 { width:37px; height:45px; position:absolute; top:309px; left:235px; }
.jpoker_table .jpoker_ptable_card_seat82 { width:37px; height:45px; position:absolute; top:309px; left:165px; }
.jpoker_table .jpoker_ptable_card_seat83 { width:37px; height:45px; position:absolute; top:309px; left:270px; }
.jpoker_table .jpoker_ptable_player_seat8_hole { width:116px; height:122px; position:absolute; top:207px; left:198px; background-image:url("images/jpoker_table/card-back2.gif");}
.jpoker_table .jpoker_ptable_player_seat9_background { width:70px; height:87px; position:absolute; top:256px; left:91px; background-color: #567300;}
.jpoker_table .jpoker_ptable_player_seat9_name { width:63.912312px; height:10px; position:absolute; top:258px; left:93px; }
.jpoker_table .jpoker_ptable_player_seat9_avatar { width:63px; height:43px; position:absolute; top:280px; left:94px; background-image:url("images/jpoker_table/avatar.gif");}
.jpoker_table .jpoker_ptable_player_seat9_timeout { width:59.443508px; height:3.8063638px; position:absolute; top:272px; left:97px; background: #000;}
.jpoker_table .jpoker_ptable_player_seat9_money { width:57.87521px; height:10px; position:absolute; top:326px; left:96px; }
.jpoker_table .jpoker_ptable_player_seat9_action { width:40px; height:10px; position:absolute; top:344px; left:102px; }
.jpoker_table .jpoker_ptable_player_seat9_stats { width:23.693085px; height:23.406408px; position:absolute; top:262px; left:159px; }
.jpoker_table .jpoker_ptable_player_seat9_sidepot { width:34.59359px; height:38.168633px; position:absolute; top:218px; left:162px; }
.jpoker_table .jpoker_ptable_player_seat9_bet { width:24px; height:24px; position:absolute; top:218px; left:162px; background-image:url("images/jpoker_table/bet.png");}
.jpoker_table .jpoker_ptable_dealer9 { width:25px; height:26px; position:absolute; top:200px; left:137px; background-image:url("images/jpoker_table/dealer.png");}
.jpoker_table .jpoker_ptable_card_seat90 { width:37px; height:45px; position:absolute; top:280px; left:89px; }
.jpoker_table .jpoker_ptable_card_seat91 { width:37px; height:45px; position:absolute; top:280px; left:124px; }
.jpoker_table .jpoker_ptable_card_seat92 { width:37px; height:45px; position:absolute; top:280px; left:54px; }
.jpoker_table .jpoker_ptable_card_seat93 { width:37px; height:45px; position:absolute; top:280px; left:159px; }
.jpoker_table .jpoker_ptable_player_seat9_hole { width:116px; height:122px; position:absolute; top:177px; left:88px; background-image:url("images/jpoker_table/card-back2.gif");}
.jpoker_table .jpoker_ptable_sitout { width:67px; height:20px; position:absolute; top:4px; left:539px; border: 1px solid #bdcc8f; background-color: #567300;}
.jpoker_table .jpoker_ptable_muck_accept { width:67px; height:20px; position:absolute; top:408px; left:251px; border: 1px solid #bdcc8f; background-color: #567300;}
.jpoker_table .jpoker_ptable_muck_deny { width:67px; height:20px; position:absolute; top:408px; left:428px; border: 1px solid #bdcc8f; background-color: #567300;}
.jpoker_table .jpoker_ptable_raise_input { width:89.284515px; height:26.281096px; position:absolute; top:442px; left:338px; }

.jpoker_table .jpoker_ptable_table_info {
  width: 140px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: 10px;
}

.jpoker_table .jpoker_ptable_sitin { width:67px; height:20px; position:absolute; top:4px; left:540px; border: 1px solid #bdcc8f; background-color: #567300;}
.jpoker_table .jpoker_ptable_powered_by { width:139.67525px; height:13.40641px; position:absolute; top:374px; left:0px; }
.jpoker_table .jpoker_ptable_allin { width:44px; height:30px; position:absolute; top:477px; left:289px; background-image:url("images/jpoker_table/raise.png");}

.jpoker_table .jpoker_ptable_hand_strength {
  width: 184px;
  height: 30px;
  position: absolute;
  top: 361px;
  left: 576px;
  color: #FFF;
}

.jpoker_table .jpoker_ptable_pots { width:370px; height:30px; position:absolute; top:212px; left:199px; }
.jpoker_table .jpoker_ptable_options { width:67px; height:20px; position:absolute; top:4px; left:466px; border: 1px solid #bdcc8f; background-color: #567300;}

.jpoker_table .jpoker_ptable_sound_control {
  width: 67px;
  height: 20px;
  position: absolute !important;
  top: 194px;
  right: 5px;
  border: 1px solid #bdcc8f;
  background-color: #567300;
  margin: 0;
}

.jpoker_table .jpoker_ptable_threequarterpot { width:44px; height:30px; position:absolute; top:494px; left:435px; background-image:url("images/jpoker_table/raise.png");}
.jpoker_table .jpoker_ptable_halfpot { width:44px; height:30px; position:absolute; top:463px; left:435px; background-image:url("images/jpoker_table/raise.png");}
.jpoker_table .jpoker_ptable_pot { width:44px; height:30px; position:absolute; top:432px; left:435px; background-image:url("images/jpoker_table/raise.png");}


#jpokerSoundTable {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#jpoker_wait_for_bb {
  position: absolute;
  width: 100px;
  color: #FFF;
  top: 250px;
  right: 5px;
  text-align: right;
}

#jpoker_wait_for_bb input {
  width: auto;
  display: inline;
}
