.jpoker_regular_tourney_list table {
	border: 1px solid #24B300;
}
.jpoker_regular_tourney_list th {
	background: #24B300;
	padding: 0.5em 1em;
}
.jpoker_regular_tourney_list td {
	padding: 0.5em 1em;
}
.jpoker_regular_tourney_list tr {
	cursor: pointer;
}
.jpoker_regular_tourney_list tr.jpoker_tourney_state_announced,
.jpoker_regular_tourney_list tr.jpoker_tourney_state_canceled {
	cursor: default;
}
.jpoker_regular_tourney_list .odd {
	background: #81AC00;
}
.jpoker_widget.jpoker_regular_tourney_list table th.headerSortUp {
    background: #C0CC9E;
    color: #000;
}

.jpoker_widget.jpoker_regular_tourney_list table th.headerSortDown {
    background: #81AC00;
}

.jpoker_regular_tourney_list tr.hover {
	background: #81AC00;
	color: #fff;
}

.jpoker_widget.jpoker_regular_tourney_list table {
	border: 2px solid #567300;
	border-collapse: collapse;
	font-size: 1.2em;
	color: #444;
}

.jpoker_widget.jpoker_regular_tourney_list table th,
.jpoker_widget.jpoker_regular_tourney_list table thead td {
	background: #567300;
	border: 1px solid #567300;
	color: #fff;
	padding: 3px;
}

.jpoker_widget.jpoker_regular_tourney_list tr,
.jpoker_widget.jpoker_regular_tourney_list td {
	border: 1px solid #567300;
	padding: 3px;
}
