.jpoker_chat_history_player_box {
    border: 3px solid #567300;
    position: absolute;
    top: 400px;
    left: 7px;
    width: 227px;
}

.jpoker_chat_history_player_heading, .jpoker_chat_history_dealer_heading {
    background-color:#567300;
    height: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: white;
}

.jpoker_chat_history_player {
    background-color: #bdcc8f;
    overflow: auto;
    height: 87px;
}

.jpoker_chat_input {
    border-left: 3px solid #567300;
    border-right: 3px solid #567300;
    border-bottom: 3px solid #567300;
    left :7px;
    position :absolute;
    top: 505px;
    width:227px;
    height: 20px;
    background-color: white;
}

.jpoker_chat_input input {
    font-size: 10px;
    padding-top: 4px;
}

.jpoker_chat_history_dealer_box {
    border: 3px solid #567300;
    position: absolute;
    top: 400px;
    left: 516px;
    width: 230px;
}

.jpoker_chat_history_dealer {
    overflow: auto;
    height: 104px;
}

.jpoker_chat_message {
    line-height: 1.5em;
}

.jpoker_chat_history_dealer .jpoker_chat_message {
    color: #193214;
    line-height: 1.5em;
}

.jpoker_chat_line{
	padding:0 0.2em;
}
.jpoker_chat_history_dealer{
	background: #bdcc8f;
}

.jpoker_chat_prefix{
	font-weight: bold;
}
