.jpoker_chat_history_player_box {
    position: absolute;
    top: 400px;
    left: 7px;
    width: 227px;
}

.jpoker_chat_history_player_heading, .jpoker_chat_history_dealer_heading {
    background: #000 url(images/jpoker_table/block-header-bg.gif) left top repeat-x;
    height: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: black 0px -1px 0px;
    line-height: 18px;
}

.jpoker_chat_history_player {
    background-color: #bdcc8f;
    overflow: auto;
    height: 87px;
}

.jpoker_chat_input {
    left :7px;
    position :absolute;
    top: 505px;
    width:227px;
    height: 20px;
    background-color: white;
}

.jpoker_chat_input input {
    font-size: 10px;
    padding-top: 4px;
}

.jpoker_chat_history_dealer_box {
    position: absolute;
    top: 400px;
    left: 523px;
    width: 230px;
}

.jpoker_chat_history_dealer {
    overflow: auto;
    height: 107px;
}

.jpoker_chat_message {
    line-height: 1.5em;
}

.jpoker_chat_history_dealer .jpoker_chat_message {
    color: #193214;
    line-height: 1.5em;
}

.jpoker_chat_line{
	padding:0 0.2em;
}
.jpoker_chat_history_dealer{
	background: #bdcc8f;
}

.jpoker_chat_prefix{
	font-weight: bold;
}
