li {
  margin: 1em 0;
}

ul.menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
}

ul.menu-list li {
  display: inline;
  margin: 0 20px 0 0;
  padding: 0;
}

#header ul.menu-list {
  text-align: right;
  padding-bottom: 10px;
}

#wrapper {
  width: 1024px;
  margin: 0 auto;
}

a {
  color: #1b587b;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a img {
  border: none;
}

html {
    height: 100%;
}

body {
    background-color: #ffffff;
    color: #46494c;
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

#header {
    background-color: #e3e6ea;
    border-bottom: 1px solid #f08900;
    padding: 4px 3%;
}

#footer {
    background-color: #e3e6ea;
    border-top: 1px solid #f08900;
    width: 100%;
    padding: 4px 3%;
}

#footer ul {
    padding-left: 0;
}

#copyright {
    text-align: center;
}

#content {
    padding: 10px 10px 40px;
}

h1.title {
    padding: 4px;
    margin: 0px;
}

.message {
    color: #66AA66;
}

.error {
    color: #CC4444;
}

.message-error {
  color: #9a1302;
}

#footer_menu {
  margin: 10px;
}

form span.comment {
  display: block;
  font-size: 80%;
  font-style: italic;
  color: #56595C;
}

form > fieldset > div {
  margin: 10px 0;
}

form label {
  width: 150px;
  display: inline-block;
}

h2.account-info span {
  font-size: 14px;
  font-weight: normal;
  position: relative;
  top: -5px;
}

form div.submit {
  float: left;
}

.profile-avatar {
  width: 200px;
  float: right;
  text-align: right;
  margin-top: 20px;
}

table {
  width: 100%;
}

table td {
  vertical-align: top;
}

.withdrawal-additional-info textarea {
  width: 700px;
  height: 300px;
}

.clear {
  width: 100%;
  height: 0px;
  clear: both;
  font-size: 1px;
  overflow: hidden;
}


.withdrawal-info {
  width: 30%;
  float: left;
}

.withdrawal-additional-info {
  width: 68%;
  float: right;
}

.admin_submenu {
  width: 200px;
  margin-left: 40px;
  float: right;
}

.right_column {
  width: 220px;
  float: right;
  margin-left: 20px;
}

.main_content {
  clear: left;
}

#content > h2.content-title {
  float: left;
}

.tables-categories {
  float: left;
  width: 22%;
  background: #EEE;
}

.tables {
  float: right;
  width: 74%;
}

.tables .tables-list {
  display: none;
}

.tables .tables-list:first-child {
  display: block;
}

.tables-categories li li ul {
  padding: 0;
}

.tables-categories li {
  text-decoration: underline;
  cursor: pointer;
}

.tables-categories li li ul li {
  margin: 0.5em 0;
  padding: 0.5em 0 0.5em 0.5em;
  list-style-position: inside;
  text-decoration: none;
}

.tables-categories .active {
  background: #FFF;
}

th {
  text-align: left;
}

.tables-categories li ul {
  display: none;
}

.popular-tables {
  margin: 0.5em 0 0.5em 2em;
  padding: 0.5em 0 0.5em 0.5em;
}

.positive-result {
  background: #CCFFCC;
}

.negative-result {
  background: #FFCCCC;
}

.schedule-status-y {
  background: #CFC;
}

.one, .one-half, .two-third, .one-third, .one-fourth, .one-fifth, .one-sixth ,.inner-content, .one-third-big { 
	float:left; 
}
.one-half, .two-third, .one-third, .one-fourth, .one-fifth, .one-sixth, .inner-content,.one-third-big  {
	margin-right: 3%;
}
.one {
	width: 100%;
}
.one-half {
	width: 49%;
}
.two-third {
	width: 64%;
}
.one-third  {
	width: 32%;
}

.one-third-big{ width: 33.3%;}
.one-fourth {
	width: 22.5%;
}
.one-fifth {
	width: 17.5%;
}
.one-sixth {
	width: 13.5%;
}
.last { 
  margin-right: 0 !important;
}

#logo,
#copyright-logo {
  float: left;
  margin: 4px 0 .5em 0;
  font-size: 38px;
  color: #222;
  line-height: 24px;
}

.logo-slogan {
  font-size: 14px;
  color: #666;
}

#copyright-logo {
  font-size: 24px;
}
