.jpoker_chat_history_player_box {
    position: absolute;
    top: 400px;
    left: 7px;
    width: 227px;
}

.jpoker_chat_history_player_heading, .jpoker_chat_history_dealer_heading {
    height: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: white;
}

.jpoker_chat_history_player {
    background-color: white;
    overflow: auto;
    height: 87px;
}

.jpoker_chat_input {
    border-top :1px solid black;
    left :7px;
    position :absolute;
    top: 505px;
    width:227px;
    height: 20px;
    background-color: white;
}

.jpoker_chat_input input {
    font-size: 10px;
    padding-top: 4px;
}

.jpoker_chat_history_dealer_box {
    position: absolute;
    top: 400px;
    left: 516px;
    width: 240px;
}

.jpoker_chat_history_dealer {
    overflow: auto;
    height: 107px;
}

.jpoker_chat_message {
    line-height: 1.5em;
}

.jpoker_chat_history_dealer .jpoker_chat_message {
    color: red;
    line-height: 1.5em;
}

.jpoker_chat_line{
	padding:0 0.2em;
}
.jpoker_chat_history_dealer{
	background: #ddd;
	border-top:1px solid #ccc;
}

.jpoker_chat_prefix{
	font-weight: bold;
}
