
/* copyright notice dialog box */

#jpoker_copyright {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
    background-color: #73BF60;
    color: #000;
    width: 400px;
    padding: 2em;
    text-align: center;
}

#jpoker_copyright a {
	color: #FFF;
	outline: none;
}

#jpoker_copyright .jpoker_software,
#jpoker_copyright .jpoker_authors,
#jpoker_copyright .jpoker_download {
    font-weight: bolder;
}

#jpoker_copyright .jpoker_license,
#jpoker_copyright .jpoker_explain,
#jpoker_copyright .jpoker_full_copyright {
    margin: 1em;
    text-align: justify;
}

#jpoker_copyright .jpoker_download {
    margin: 1em;
}

#jpoker_copyright .jpoker_dismiss a {
    border: 2px solid #24B300;
    font-weight: bolder;
	display: block;
	text-decoration: none;
}

