.jpoker_table {font-size: 10px; font-family: "trebuchet MS",arial,helvetica,sans-serif; }

.jpoker_table .jpoker_avatar {
    background-image: none;
}
.jpoker_table .jpoker_avatar_default_1 { background-image: url("images/jpoker_table/avatar1.png"); }
.jpoker_table .jpoker_avatar_default_2 { background-image: url("images/jpoker_table/avatar2.png"); }
.jpoker_table .jpoker_avatar_default_3 { background-image: url("images/jpoker_table/avatar3.png"); }
.jpoker_table .jpoker_avatar_default_4 { background-image: url("images/jpoker_table/avatar4.png"); }
.jpoker_table .jpoker_avatar_default_5 { background-image: url("images/jpoker_table/avatar5.png"); }
.jpoker_table .jpoker_avatar_default_6 { background-image: url("images/jpoker_table/avatar6.png"); }
.jpoker_table .jpoker_avatar_default_7 { background-image: url("images/jpoker_table/avatar7.png"); }
.jpoker_table .jpoker_avatar_default_8 { background-image: url("images/jpoker_table/avatar8.png"); }
.jpoker_table .jpoker_avatar_default_9 { background-image: url("images/jpoker_table/avatar9.png"); }
.jpoker_table .jpoker_avatar_default_10 { background-image: url("images/jpoker_table/avatar10.png"); }
.jpoker_table .jpoker_avatar_default_11 { background-image: url("images/jpoker_table/avatar11.png"); }
.jpoker_table .jpoker_avatar_default_12 { background-image: url("images/jpoker_table/avatar12.png"); }
.jpoker_table .jpoker_avatar_default_13 { background-image: url("images/jpoker_table/avatar13.png"); }
.jpoker_table .jpoker_avatar_default_14 { background-image: url("images/jpoker_table/avatar14.png"); }
.jpoker_table .jpoker_avatar_default_15 { background-image: url("images/jpoker_table/avatar15.png"); }
.jpoker_table .jpoker_avatar_default_16 { background-image: url("images/jpoker_table/avatar16.png"); }
.jpoker_table .jpoker_avatar_default_17 { background-image: url("images/jpoker_table/avatar17.png"); }
.jpoker_table .jpoker_avatar_default_18 { background-image: url("images/jpoker_table/avatar18.png"); }
.jpoker_table .jpoker_avatar_default_19 { background-image: url("images/jpoker_table/avatar19.png"); }
.jpoker_table .jpoker_avatar_default_20 { background-image: url("images/jpoker_table/avatar20.png"); }

.jpoker_table .jpoker_avatar
{
 background-repeat: no-repeat;
 border: 1px solid #bbb;
}

.jpoker_table .jpoker_avatar img
{
 border: 0;
 width: 63px;
 height: 43px;
}

.jpoker_table .jpoker_seat_hover .jpoker_avatar
{
 border: 1px solid #fff;
}

.jpoker_table .jpoker_timeout
{
 z-index: 2;
}

.jpoker_table .jpoker_card_2h { background-image: url("images/jpoker_table/cards/small-2h.png"); }
.jpoker_table .jpoker_card_3h { background-image: url("images/jpoker_table/cards/small-3h.png"); }
.jpoker_table .jpoker_card_4h { background-image: url("images/jpoker_table/cards/small-4h.png"); }
.jpoker_table .jpoker_card_5h { background-image: url("images/jpoker_table/cards/small-5h.png"); }
.jpoker_table .jpoker_card_6h { background-image: url("images/jpoker_table/cards/small-6h.png"); }
.jpoker_table .jpoker_card_7h { background-image: url("images/jpoker_table/cards/small-7h.png"); }
.jpoker_table .jpoker_card_8h { background-image: url("images/jpoker_table/cards/small-8h.png"); }
.jpoker_table .jpoker_card_9h { background-image: url("images/jpoker_table/cards/small-9h.png"); }
.jpoker_table .jpoker_card_Th { background-image: url("images/jpoker_table/cards/small-Th.png"); }
.jpoker_table .jpoker_card_Jh { background-image: url("images/jpoker_table/cards/small-Jh.png"); }
.jpoker_table .jpoker_card_Qh { background-image: url("images/jpoker_table/cards/small-Qh.png"); }
.jpoker_table .jpoker_card_Kh { background-image: url("images/jpoker_table/cards/small-Kh.png"); }
.jpoker_table .jpoker_card_Ah { background-image: url("images/jpoker_table/cards/small-Ah.png"); }
.jpoker_table .jpoker_card_2d { background-image: url("images/jpoker_table/cards/small-2d.png"); }
.jpoker_table .jpoker_card_3d { background-image: url("images/jpoker_table/cards/small-3d.png"); }
.jpoker_table .jpoker_card_4d { background-image: url("images/jpoker_table/cards/small-4d.png"); }
.jpoker_table .jpoker_card_5d { background-image: url("images/jpoker_table/cards/small-5d.png"); }
.jpoker_table .jpoker_card_6d { background-image: url("images/jpoker_table/cards/small-6d.png"); }
.jpoker_table .jpoker_card_7d { background-image: url("images/jpoker_table/cards/small-7d.png"); }
.jpoker_table .jpoker_card_8d { background-image: url("images/jpoker_table/cards/small-8d.png"); }
.jpoker_table .jpoker_card_9d { background-image: url("images/jpoker_table/cards/small-9d.png"); }
.jpoker_table .jpoker_card_Td { background-image: url("images/jpoker_table/cards/small-Td.png"); }
.jpoker_table .jpoker_card_Jd { background-image: url("images/jpoker_table/cards/small-Jd.png"); }
.jpoker_table .jpoker_card_Qd { background-image: url("images/jpoker_table/cards/small-Qd.png"); }
.jpoker_table .jpoker_card_Kd { background-image: url("images/jpoker_table/cards/small-Kd.png"); }
.jpoker_table .jpoker_card_Ax { background-image: url("images/jpoker_table/cards/small-Ax.png"); }
.jpoker_table .jpoker_card_2c { background-image: url("images/jpoker_table/cards/small-2c.png"); }
.jpoker_table .jpoker_card_3c { background-image: url("images/jpoker_table/cards/small-3c.png"); }
.jpoker_table .jpoker_card_4c { background-image: url("images/jpoker_table/cards/small-4c.png"); }
.jpoker_table .jpoker_card_5c { background-image: url("images/jpoker_table/cards/small-5c.png"); }
.jpoker_table .jpoker_card_6c { background-image: url("images/jpoker_table/cards/small-6c.png"); }
.jpoker_table .jpoker_card_7c { background-image: url("images/jpoker_table/cards/small-7c.png"); }
.jpoker_table .jpoker_card_8c { background-image: url("images/jpoker_table/cards/small-8c.png"); }
.jpoker_table .jpoker_card_9c { background-image: url("images/jpoker_table/cards/small-9c.png"); }
.jpoker_table .jpoker_card_Tc { background-image: url("images/jpoker_table/cards/small-Tc.png"); }
.jpoker_table .jpoker_card_Jc { background-image: url("images/jpoker_table/cards/small-Jc.png"); }
.jpoker_table .jpoker_card_Qc { background-image: url("images/jpoker_table/cards/small-Qc.png"); }
.jpoker_table .jpoker_card_Kc { background-image: url("images/jpoker_table/cards/small-Kc.png"); }
.jpoker_table .jpoker_card_Ac { background-image: url("images/jpoker_table/cards/small-Ac.png"); }
.jpoker_table .jpoker_card_2s { background-image: url("images/jpoker_table/cards/small-2s.png"); }
.jpoker_table .jpoker_card_3s { background-image: url("images/jpoker_table/cards/small-3s.png"); }
.jpoker_table .jpoker_card_4s { background-image: url("images/jpoker_table/cards/small-4s.png"); }
.jpoker_table .jpoker_card_5s { background-image: url("images/jpoker_table/cards/small-5s.png"); }
.jpoker_table .jpoker_card_6s { background-image: url("images/jpoker_table/cards/small-6s.png"); }
.jpoker_table .jpoker_card_7s { background-image: url("images/jpoker_table/cards/small-7s.png"); }
.jpoker_table .jpoker_card_8s { background-image: url("images/jpoker_table/cards/small-8s.png"); }
.jpoker_table .jpoker_card_9s { background-image: url("images/jpoker_table/cards/small-9s.png"); }
.jpoker_table .jpoker_card_Ts { background-image: url("images/jpoker_table/cards/small-Ts.png"); }
.jpoker_table .jpoker_card_Js { background-image: url("images/jpoker_table/cards/small-Js.png"); }
.jpoker_table .jpoker_card_Qs { background-image: url("images/jpoker_table/cards/small-Qs.png"); }
.jpoker_table .jpoker_card_Ks { background-image: url("images/jpoker_table/cards/small-Ks.png"); }
.jpoker_table .jpoker_card_As { background-image: url("images/jpoker_table/cards/small-As.png"); }
.jpoker_table .jpoker_card_back { background-image: url("images/jpoker_table/cards/small-back.png"); }


.jpoker_table .jpoker_position .jpoker_ptable_player_seat0_background,
.jpoker_table .jpoker_position .jpoker_ptable_player_seat1_background,
.jpoker_table .jpoker_position .jpoker_ptable_player_seat2_background,
.jpoker_table .jpoker_position .jpoker_ptable_player_seat3_background,
.jpoker_table .jpoker_position .jpoker_ptable_player_seat4_background,
.jpoker_table .jpoker_position .jpoker_ptable_player_seat5_background,
.jpoker_table .jpoker_position .jpoker_ptable_player_seat6_background,
.jpoker_table .jpoker_position .jpoker_ptable_player_seat7_background,
.jpoker_table .jpoker_position .jpoker_ptable_player_seat8_background,
.jpoker_table .jpoker_position .jpoker_ptable_player_seat9_background
{
    background-image: url(images/jpoker_table/seat_position.gif);
}


.jpoker_table .jpoker_ptable_sit_seat0,
.jpoker_table .jpoker_ptable_sit_seat1,
.jpoker_table .jpoker_ptable_sit_seat2,
.jpoker_table .jpoker_ptable_sit_seat3,
.jpoker_table .jpoker_ptable_sit_seat4,
.jpoker_table .jpoker_ptable_sit_seat5,
.jpoker_table .jpoker_ptable_sit_seat6,
.jpoker_table .jpoker_ptable_sit_seat7,
.jpoker_table .jpoker_ptable_sit_seat8,
.jpoker_table .jpoker_ptable_sit_seat9
{
	cursor: pointer;
}


.jpoker_table .jpoker_player_seat .jpoker_name {
	overflow:hidden;
}


.jpoker_table .jpoker_sit_out .jpoker_ptable_player_seat0_name,
.jpoker_table .jpoker_sit_out .jpoker_ptable_player_seat1_name,
.jpoker_table .jpoker_sit_out .jpoker_ptable_player_seat2_name,
.jpoker_table .jpoker_sit_out .jpoker_ptable_player_seat3_name,
.jpoker_table .jpoker_sit_out .jpoker_ptable_player_seat4_name,
.jpoker_table .jpoker_sit_out .jpoker_ptable_player_seat5_name,
.jpoker_table .jpoker_sit_out .jpoker_ptable_player_seat6_name,
.jpoker_table .jpoker_sit_out .jpoker_ptable_player_seat7_name,
.jpoker_table .jpoker_sit_out .jpoker_ptable_player_seat8_name,
.jpoker_table .jpoker_sit_out .jpoker_ptable_player_seat9_name
{
    background-color: transparent;
    color: red;
}

.jpoker_table .jpoker_sit_out .jpoker_name
{
	color: red;
}

.jpoker_table .jpoker_button {
    color: #FFF;
    /*margin: 0 5px;*/
    line-height: 30px;
    text-align : center;
}

.jpoker_table .jpoker_sitout, .jpoker_table .jpoker_rebuy, .jpoker_table .jpoker_quit, .jpoker_table .jpoker_sitin, .jpoker_table .jpoker_muck, .jpoker_table .jpoker_options, .jpoker_sound_control {
    color: #FFF;
    margin: 0 5px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}

.jpoker_table .jpoker_pot, .jpoker_table .jpoker_bet {
    text-align: center;
    font-weight: bold;
    font-family: "trebuchet MS",arial,helvetica,sans-serif;
}

.jpoker_table .jpoker_money {
    text-align: center;
    line-height: 10px;
    font-weight: bold;
    font-family: "trebuchet MS",arial,helvetica,sans-serif;
    color: #e5b408;
}

.jpoker_table .jpoker_player_seat.jpoker_position .jpoker_money {
    color: black;
}

.jpoker_table .jpoker_action {
    text-align: center;
    line-height: 13px;
    font-weight: bold;
    font-family: "trebuchet MS",arial,helvetica,sans-serif;
    color: white;
    background-image: url("images/jpoker_table/check-call.gif");
    width: 48px;
    height: 13px;
    background-color: #4b4848;
    text-transform: uppercase;
}

.jpoker_table .jpoker_name {
    text-align: center;
    line-height: 10px;    
    font-weight: bold;
    font-family: "trebuchet MS",arial,helvetica,sans-serif;
    color: #FFFFFF;
    cursor: pointer;
    text-transform: uppercase;
}

.jpoker_table .jpoker_player_self .jpoker_sit_out .jpoker_name {
    text-transform: none;
}

.jpoker_table .jpoker_raise_bound, .jpoker_table .jpoker_raise_current {
    display: inline;
    line-height:20px;
}

.jpoker_table .jpoker_raise_label { 
    display: none;
}

.jpoker_table .ui-slider-1 {
    margin: 3px 10px;
    width: 70px;
}

.jpoker_table .jpoker_raise_input {
    width: 100%;
    height: 1.5em;
}

.jpoker_raise_bound, .jpoker_raise_current {
	margin-left:7px;
	color:#fff;
	font-weight:bold;
}

.jpoker_table input {
	border: 0px solid #000;
	width: 99%;
}

.jpoker_table .jpoker_ptable_table_info{
	font-weight: bold;
	height: auto;
}

.jpoker_table .jpoker_powered_by {
 	font-weight: bold;
	text-align: center;
 }

.jpoker_table .jpoker_powered_by a {
	color: #17691C;
}

.jpoker_table a { 
	color: #fff;
	font-weight: bold;
	text-decoration:none;
}

.jpoker_table a:hover {
	color: #E5B415;
	font-weight: bold;
	background: transparent;
}

.jpoker_table .jpoker_ptable_auto_muck {
	background: transparent;
	font-weight: bold;
	color: #000;
}

.jpoker_table .jpoker_ptable_auto_muck label {
	margin-left: 3px;
}

.jpoker_table .jpoker_ptable_raise_input {
	border: 2px solid #000;
	background: #eee;
}

.jpoker_table .jpoker_ptable_game_background {
	border: 1px solid #ccc;
}

.jpoker_table .jpoker_ptable_quit, .jpoker_table .jpoker_ptable_rebuy
{
	cursor:pointer;
}


.jpoker_table .jpoker_player_sidepot
{
    border: 2px solid blue;
    background: #fff;
    text-align: center;
    font-size: 10px;
    height: auto;
}

.jpoker_table .jpoker_ptable_raise_input {
	height:auto;
}

#jpokerRebuy
{
    height: 150px;
    width: 300px;
}

#jpokerRebuy .ui-slider-1
{
    margin: 5px auto 10px;
    position:absolute;
    left:70px;
    top:75px;
}

#jpokerDialog
{
    height: 150px;
    width: 300px;
}

#jpokerOptionsDialog
{
    height: 150px;
    width: 300px;
}

#jpokerRankDialog
{
    height: 150px;
    width: 300px;
}

#jpokerRebuy .jpoker_rebuy_min {
	position:absolute;
	left:65px;
	top:55px;
	font-size:18px;
}

#jpokerRebuy .jpoker_rebuy_max {
	position:absolute;
	left:253px;
	top:55px;
	font-size:18px;
}

#jpokerRebuy .jpoker_rebuy_current {
	position:absolute;
	left:0px;
	top:113px;
	font-size:30px;
	font-weight:bold;
	width:100%;
	text-align:center;
	color:#006902;
}

.jpoker_jquery_ui.ui-dialog #jpokerRebuy.ui-dialog-content {
	margin-bottom:0px;
}

.jpoker_jquery_ui.ui-dialog #jpokerRebuy .ui-dialog-buttonpane {
	position: absolute;
	bottom: 8px;
	right: 0px;
	width: 100%;
	text-align: center;
}

.jpoker_jquery_ui.ui-dialog #jpokerRebuy .ui-dialog-buttonpane button {
	background:#006902;
	color:#fff;
	cursor:pointer;
	font-size:17px;
	font-weight:bold;
	padding:5px 10px;
	margin:0;
}

.jpoker_jquery_ui.ui-dialog #jpokerRebuy .ui-dialog-buttonpane button:hover {
	background:#009E03;
}

.jpoker_sit_seat {
    position: relative
}
.jpoker_sit_seat  .jpoker_sit_seat_progress {
    display: none;
}

.jpoker_sit_seat.jpoker_self_get_seat  .jpoker_sit_seat_progress {
    display: block;
    position: absolute;
    background-image: url("images/jpoker_table/loading.gif");
    width: 32px;
    height: 32px;
}

.jpoker_table_info_seats, .jpoker_table_info_flop, .jpoker_table_info_player_timeout, .jpoker_table_info_muck_timeout {
    display: none;
}

.jpoker_table_info_name_label, .jpoker_table_info_variant_label, .jpoker_table_info_blind_label, .jpoker_table_info_seats_label, .jpoker_table_info_flop_label, .jpoker_table_info_player_timeout_label, .jpoker_table_info_muck_timeout_label {
    display: none;
}

.jpoker_table .jpoker_player_seat.jpoker_player_allin .jpoker_action {
    color: red;
}

.jpoker_table .jpoker_player_seat .jpoker_name {
    text-decoration: none;
}
.jpoker_table .jpoker_player_seat.jpoker_player_dealt .jpoker_name {
    text-decoration: underline;
}

.jpoker_pots .jpoker_pot {
    float: left;
}

.jpoker_pots .jpoker_pot .jpoker_chips_image {
    margin-left: auto;
    margin-right: auto;
}

.jpoker_pots .jpoker_pot {
    width: 30px;
}
.jpoker_pots .jpoker_pot .jpoker_chips_image {
    background-image:url(images/jpoker_table/pot.gif);
    width: 24px;
    height: 20px;
}

.jpoker_pots .jpoker_pots_align {
    margin-left: auto;
    margin-right: auto;
}

.jpoker_pots0 .jpoker_pots_align {
    width: 0px;
}

.jpoker_pots1 .jpoker_pots_align {
    width: 30px;
}

.jpoker_pots2 .jpoker_pots_align {
    width: 60px;
}

.jpoker_pots3 .jpoker_pots_align {
    width: 90px;
}

.jpoker_pots4 .jpoker_pots_align {
    width: 120px;
}

.jpoker_pots5 .jpoker_pots_align {
    width: 150px;
}

.jpoker_pots6 .jpoker_pots_align {
    width: 180px;
}

.jpoker_pots7 .jpoker_pots_align {
    width: 210px;
}

.jpoker_pots8 .jpoker_pots_align {
    width: 240px;
}

.jpoker_pots9 .jpoker_pots_align {
    width: 270px;
}

.jpoker_pots10 .jpoker_pots_align {
    width: 300px;
}

.jpoker_pots .jpoker_pot .jpoker_chips_amount {
    color: white;
}

.jpoker_table .jpoker_seat .jpoker_bet {
    background-image: none;
    width: 24px;
}

.jpoker_table .jpoker_seat .jpoker_bet .jpoker_chips_image {
    margin-left: auto;
    margin-right: auto;
    background-image:url(images/jpoker_table/bet.gif);
    width:24px;
    height:24px;
}

.jpoker_table .jpoker_seat .jpoker_bet .jpoker_chips_amount {
    color: white;
}

.jpoker_table .jpoker_player_hole {
    display: none;
}

.jpoker_table .jpoker_player_self.jpoker_player_dealt .jpoker_player_hole {
    display: none;
}

.jpoker_table .jpoker_player_dealt .jpoker_player_hole {
    display: block;
}

.jpoker_table .jpoker_seat .jpoker_card {
    display: none;
}

.jpoker_table .jpoker_player_dealt .jpoker_card {
    display: block;
}

.jpoker_table .jpoker_player_dealt .jpoker_card.jpoker_card_back {
    display: none;
}

.jpoker_table .jpoker_auto_muck_win {
    float: left;
}


.jpoker_table .jpoker_ptable_sitout_fold { width:67px; height:20px; position:absolute; top:408px; left:435px; background-image:url("images/jpoker_table/menu-button.gif");
}

.jpoker_table .jpoker_ptable_sitout_fold .jpoker_sitout {
    text-transform: none;
}

.jpoker_table .jpoker_auto_action input {
    width: auto;
}
