.jpoker_regular_tourney_list table {
	border: 1px solid #24B300;
}
.jpoker_regular_tourney_list th {
	background: #24B300;
	padding: 0.5em 1em;
}
.jpoker_regular_tourney_list td {
	padding: 0.5em 1em;
}
.jpoker_regular_tourney_list tr {
	cursor: pointer;
}
.jpoker_regular_tourney_list tr.jpoker_tourney_state_announced,
.jpoker_regular_tourney_list tr.jpoker_tourney_state_canceled {
	cursor: default;
}
.jpoker_regular_tourney_list .odd {
	background: #CCFFBF;
}
.jpoker_regular_tourney_list .headerSortUp,
.jpoker_regular_tourney_list .headerSortDown {
    background: #73BF60;
}
.jpoker_regular_tourney_list tr.hover {
	background: #73BF60;
	color: #fff;
}

.jpoker_widget.jpoker_regular_tourney_list table {
	border: 2px solid #17691c;
	border-collapse: collapse;
	font-size: 1.2em;
	color: #444;
}

.jpoker_widget.jpoker_regular_tourney_list table th,
.jpoker_widget.jpoker_regular_tourney_list table thead td {
	background: #17691c;
	border: 1px solid #17691c;
	color: #fff;
	padding: 3px;
}

.jpoker_widget.jpoker_regular_tourney_list tr,
.jpoker_widget.jpoker_regular_tourney_list td {
	border: 1px solid #17691c;
	padding: 3px;
}
