.jpoker_login, .jpoker_logout {
	color: #444;
}

.jpoker_login {
	background:#eee;
	border:1px solid #ccc;
	padding:10px;
	float:right;
}

.jpoker_login_submit, .jpoker_login_signup{
	width: 100%;
	cursor: pointer;
}

 .jpoker_logout {
 	font-weight: bold;
}

.jpoker_logout a, .jpoker_logout a:hover {
	background: transparent;
	color: #009E03;
	text-decoration:none;
	border-bottom:0;
}

.ui-dialog-overlay {
    background-color: black;
    opacity: 0.3;
}

.jpoker_signup {
    background-color: white;
}

.jpoker_signup_content {
    margin: 20px;
}

/*
td.login_text{
	padding:5px 5px;
	text-align:left;
}

td.login_input input {
	border:1px solid [[ColorPalette::TertiaryLight]];
	width:140px;
}
*/
