/*{{{*/
html, * {
	margin:0pt;
	padding:0pt;
}

body {
	background: #5F8000 url(../../../themes/pokersource.eu/css/images/body-background.gif) repeat-y scroll center top;
	color:[[ColorPalette::TertiaryDark]];
	font-family:"trebuchet MS",arial,helvetica,sans-serif;
}

html, body, #contentWrapper {
	height: 100%;
}

body #contentWrapper {
	display:block;
}

#contentWrapper {
	width: 840px;
	margin:0 auto;
/*	background:[[ColorPalette::Background]];*/
        background: #5F8000 url(../../../themes/pokersource.eu/css/images/contentWrapper-background.jpg) no-repeat scroll left top;
}

#jpokerServerStatus {
    position: absolute;
    top: 0;
    left: 430px;
}

#pokLogin {
    position: absolute;
    top: 0;
    right: 0;
}

#headerTitle{
}

#header{
        position: relative;
        height: 32px;
	display:block;
}

#menu {
	background:[[ColorPalette::PrimaryMid]];
	padding: 9px;
	width: 840px;
        height: 32px;
}

#stickybod{
	min-height: 100%;
	height: 100%;
	height: auto !important;
	margin: 0 auto -75px; 
	background:[[ColorPalette::Background]];
}

* html #stickybod {height:100%;}

#myDisplayArea {
	background:[[ColorPalette::Background]];
	padding: 0px 15px 15px 15px;
}

#push {
	clear:both;
}

#stickyfooter, #push {
	height: 60px;
	background:[[ColorPalette::Background]];
	padding: 0px 15px 15px 15px; 
}

#footer{
	background:#c0cc9e;
	height:60px;
	border-top:5px solid [[ColorPalette::PrimaryMid]];
	margin:0pt auto;
	line-height:60px;
	text-align:center;
	font-weight: bold;
	color: [[ColorPalette::TertiaryDark]];
}

.viewer{
	font-size:14px;
	line-height:18px;
}

#menu br {display:none;}

#menu a{
	font-size:15px;
	color:[[ColorPalette::Background]];
	padding: 9px;
	border:none;
	font-weight:bold;
}

#menu a:hover, #menu a.activeLink{
	background:[[ColorPalette::PrimaryDark]];
}

.tiddler {
	padding:1em 0em 0em;
}

.shadow .title {
	color:#3f4a1e;
}

.subtitle {
	color:[[ColorPalette::TertiaryMid]];
}

.tagged, .tagging {
	position:relative;
	float:none;
	margin: 0.5em 0em;
	padding:6px 4px;
}

.tagged li, .tagging li, .tagging ul, .tagged ul{
	display:inline;
}

.tagged li, .tagging li {
	margin-right:0.5em;
}

.tagging .listTitle{
	display:none;
}

.tagging .button:hover, .tagged .button:hover{
	background: [[ColorPalette::PrimaryMid]];
	color:[[ColorPalette::Background]];
}

.tagging, .selected .tagging, .tagged, .selected .tagged {
        border:1px solid [[ColorPalette::TertiaryPale]];		
	background-color:[[ColorPalette::TertiarySuperPale]];
}

.toolbar {
	float:right;
}

.toolbar .button:hover, .toolbar .button:active{
	background:transparent;
	border:1px solid [[ColorPalette::Background]];
}

.highlight, .marked {
	background:[[ColorPalette::PrimaryMid]];
	color:[[ColorPalette::Background]];
}

.viewer .button {
        border:1px solid [[ColorPalette::PrimaryMid]];
}

.viewer .button:hover {
	background: [[ColorPalette::PrimaryMid]];
	color: [[ColorPalette::Background]];
}

.viewer pre, .viewer code {
	font-size:1em;
}

.viewer code {
	color:[[ColorPalette:PrimaryDark]];
}

.viewer pre {
        background:[[ColorPalette::TertiarySuperPale]];
        border:1px solid [[ColorPalette::TertiaryPale]];
	padding:0.5em;
        margin-left:0em;
}

.viewer hr {
	border:0;
	border-top:solid 5px [[ColorPalette::PrimaryDark]];
	margin:0 5px;
}

.viewer blockquote {
	border-left:4px solid [[ColorPalette::PrimaryDark]];
}

h1 {
   border-bottom:2px solid [[ColorPalette::PrimaryMid]];
}

h2,h3 {
      border-bottom:1px solid [[ColorPalette::PrimaryMid]];
}

/*
.viewer table, table.twtable {
	border:2px solid [[ColorPalette::PrimaryDark]];
}
.viewer th, .viewer thead td, .twtable th, .twtable thead td {
	background:[[ColorPalette::PrimaryDark]];
	border:1px solid [[ColorPalette::PrimaryDark]];
	color:[[ColorPalette::Background]];
}
.viewer td, .viewer tr, .twtable td, .twtable tr {
	border:1px solid [[ColorPalette::PrimaryDark]];
}
*/

.viewer .tab {
	padding:1px;
}

.imageLink:hover, .imageLink {background:transparent;}



#tiddlerDisplay{
	display:inline-block;
}

#tiddlerDisplay{
	display:block;
	overflow:hidden;
}

#mysidebar {
	padding-left:1.5em;
	position:relative;
	float:right;
	width:14em;
	padding-bottom:0.5em;
}

#sidebarTabs .tabContents{
	font-size:0.95em;
	width:13.5em;
}

/*
td.login_text{
	padding:5px 5px;
	text-align:left;
}

td.login_input input {
	border:1px solid [[ColorPalette::TertiaryLight]];
	width:140px;
}

#statBar{
	color:#FFFFFF;
	float:right;
	font-size:15px;
	padding:8px;
}
*/

.editor input, .editor textarea {
	width:99%;
}

/*
#contentWrapper .viewer .jpoker_ptable table.jpokerTableList {
	margin: 0.5em auto;
}

#contentWrapper .viewer .jpoker_table .jpoker_ptable{
	margin: 0em auto;
}
*/

.title .button, .title .button:hover {padding:0; background:transparent; border:none;}

#menu {padding:0;}

ul.suckerfish li ul {z-index:999;}
/*}}}*/


/**** COLORS AND APPEARANCE - DEFAULT *****/
#menu ul.suckerfish li a {
	padding: 0.5em 1.5em;
	color: #FFF;
	background: #81AC00;
	border-bottom: 0;
	border-left: 0;
	font-weight:bold;
	border-right: 1px solid #FFF;
        width: auto;
}

#menu ul.suckerfish li li a {
    width: 9em;
}

#menu ul.suckerfish li:hover a, #menu ul.suckerfish li.sfhover a{
	background: #3f4a1e;
}

#menu ul.suckerfish li:hover ul a, #menu ul.suckerfish li.sfhover ul a{
	color: #fff;
	background: #3f4a1e;
	border-top: 1px solid #FFF;
}

#menu ul.suckerfish ul li a:hover {
	background: #81AC00;
}

#menu ul.suckerfish li {
    border-left: none;
}

/*
Jpoker overrides below here
*/

.viewer .jpoker_tourney_details table, .jpoker_tourney_details table.twtable,
.viewer .jpoker_tourney_details table th, .jpoker_tourney_details table.twtable th,
.viewer .jpoker_tourney_details table thead td, .jpoker_tourney_details table.twtable thead td {
	border:none;
}
.viewer .jpoker_tourney_details table, .jpoker_tourney_details table.twtable {
	margin:0;
}
